.custom-audio-player {
  .MuiPaper-root {
    margin: 0 !important;
    box-shadow: none !important;
    border: 1px solid #c4c4c4 !important;
    border-radius: 4px !important;
  }
  .MuiSvgIcon-root,
  .MuiSlider-root {
    color: #33cccc !important;
  }
  .MuiTypography-root {
    @apply font-sans text-neutral-1;
  }
  .MuiGrid-root {
    align-items: center !important;
  }
  .MuiSlider-root {
    padding: 5px 0;
  }
}
